@font-face {
    font-family: zekton;
    src: url(http://www.dafont.com/zekton.font);
}


.title {
    font-family: zekton;
    font-size: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.creator{
    font-family: zekton;
    text-align: center;
    color: rgb(255, 255, 255);
}

.recent{
    color: rgb(255, 255, 255);
    font-family: zekton;
    text-align: center;
}

body {
    background-image: url(backgroundarchive.jpg);
}

.links {
    position:absolute;
    left: 12px;
    bottom: 10px;
    
}